.bg{
    background-image: url(img3.jpg);
    background-repeat: no-repeat;  
    background-size:cover;
    
}
.ul{
    list-style-type: none; 
    color: black;
    margin-top:50px;
    display: flex;
    height:42px;
    width: 100%;
}
.h{
    padding: 7px;
    font-weight: bold;
    font-size:30px;
    margin-left:10px ;
}
.li{
    display: block;
    color:black;
    font-size:20px;
    text-decoration:none;
    margin-top:px;
    margin-left:40px;
    padding: 10px;
    font-size: 20px;    
}
.li:hover{
    display: block;
    color:black;
    border-radius:5px;
    background-color:#f1eff4;
    padding:10px;
    text-decoration:none;
    margin-top:px;
    margin-left:40px;  
    cursor: pointer;  
}
.n{
    font-size:40px;
    padding-left:50px;
    padding-top:120px;
    font-weight:bold;
    display: flex;
    }
.n1{
    font-size:40px;
    margin-left:50px;
    padding-top: 40px;
    font-weight:bold;
    display: flex;
    }
.sub{
    padding-left:50px;
     padding-top:2px;
     font-family: 'Times New Roman';
     font-size:20px;
}
.abt{
    padding-left :200px;
     padding-top:2px;
     font-family: 'Times New Roman';
     font-size:20px;
}
#pic{
    height:66%;
    width: 26%;
    border-radius:50%;
    margin-left:70px;
    margin-top:25px;
    border:double;
    border-width: 10px;
    border-color:white;
}

.tsub{
    padding-left :70px;
     padding-top:2px;
     font-family: 'Times New Roman';
     font-size:20px;
     margin-left:39%;
     display: flex;
     width: 200px;

}
.t{
    font-size:40px;
    margin-left:150px;
    padding-top:0px;
    font-weight:bold;
    display: flex;
}
.ssub{
    padding-left :70px;
     padding-top:11px;
     font-family: 'Times New Roman';
     font-size:20px;
     margin-left:39%;
     width: 400px;
}
.d{
    height:480px;
    width:500px;
    background-color:#a199b3;
    border-radius:10px;
    margin:20px;
    margin-left:50px;
}
.ar{
    height:200px;
    width:200px;
}
.m{
    height:35px;
    width: 35px;
    margin-left:20px;
    display:flex;
    margin-top:15px;
}
.wi{
    height:180px ;
    width: 350px;
    padding: 11px;
}
.wi2{
    height:180px ;
    width: 350px;
    padding: 11px;
}
.wi3{
    height:180px ;
    width: 350px;
    padding: 11px;
}
